<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @category   Custom
 * @package    Custom_EmailForm
 * @copyright  Copyright (c) 2017 NU Technology Inc.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route id="emailform" frontName="emailform">
			<module name="Custom_EmailForm"/>
		</route>
	</router>
</config>
