<?xml version="1.0"?>
<!--
/**
 * @category   NuTech
 * @package    NuTech_Api
 * @copyright  Copyright (c) 2017 NU Technology Inc.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Custom\TestApi\Api\TestApiInterface"
                type="Custom\TestApi\Model\Hello" />
</config>
