<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Custom_EmailForm::custom_emailform_grid" title="EmailForm Posts" module="Custom_EmailForm" sortOrder="130" action="emailform/post/" resource="Custom_EmailForm::custom_emailform_grid" />
   </menu>
</config>
