<?xml version="1.0"?>
<!--
/**
 * @category   Custom
 * @package    Custom_EmailForm
 * @copyright  Copyright (c) 2017 NU Technology Inc. (http://nutechnologyinc.com/)
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
     <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Custom_EmailForm::EmailForm" title="EmailForm" sortOrder="52">
                </resource>
            </resource>
        </resources>
    </acl>
</config>